.bckgrd{
    background-image: url("../img/sandeep.jpg");
    background-size: cover;
    
}
    
.bodysize{
    height: 100vh;
   
}

h1{
        color:lightgrey;
        text-shadow: 2px 2px 2px;
        text-align: center;
        font-size: 3vw;
        font-weight: 200;
        
}